<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<!-- BASE LINK -->
	<link name="base_link">
	
	</link>
	
	<joint name="base_footprint_joint" type="fixed">
		<parent link="base_link"/>
		<child link="base_footprint"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>
	
	<link name="base_footprint">
	</link>
	
	<!-- CHASSIS -->
	<joint name="chassis_joint" type="fixed">
		<parent link="base_link"/>
		<child link="chassis"/>
		<origin xyz="-0.1275 0 0"/>
	</joint>
	
	<link name="chassis">
		<visual>
			<origin xyz="0.1275 0 0.054"/>
			<geometry>
				<box size="0.255 0.151 0.108"/>
			</geometry>
		</visual>
	</link>
	
	<!-- FRONT RIGHT WHEEL -->
	<joint name="fr_wheel_joint" type="fixed">
		<parent link="base_link"/>
		<child link="fr_wheel"/>
		<origin xyz="0.043 -0.101 0.0125" rpy="${pi/2} 0 0"/>
	</joint>
	
	<link name="fr_wheel">
		<visual>
			<geometry>
				<cylinder radius="0.0325" length="0.051"/>
			</geometry>	
		</visual>
	</link>
	
	<!-- FRONT LEFT WHEEL -->
	<joint name="fl_wheel_joint" type="fixed">
		<parent link="base_link"/>
		<child link="fl_wheel"/>
		<origin xyz="0.043 0.101 0.0125" rpy="-${pi/2} 0 0"/>
	</joint>
	
	<link name="fl_wheel">
		<visual>
			<geometry>
				<cylinder radius="0.0325" length="0.051"/>
			</geometry>	
		</visual>
	</link>
	
	<!-- BACK RIGHT WHEEL -->
	<joint name="br_wheel_joint" type="fixed">
		<parent link="base_link"/>
		<child link="br_wheel"/>
		<origin xyz="-0.043 -0.101 0.0125" rpy="${pi/2} 0 0"/>
	</joint>
	
	<link name="br_wheel">
		<visual>
			<geometry>
				<cylinder radius="0.0325" length="0.051"/>
			</geometry>	
		</visual>
	</link>
	
	<!-- BACK LEFT WHEEL -->
	<joint name="bl_wheel_joint" type="fixed">
		<parent link="base_link"/>
		<child link="bl_wheel"/>
		<origin xyz="-0.043 0.101 0.0125" rpy="-${pi/2} 0 0"/>
	</joint>
	
	<link name="bl_wheel">
		<visual>
			<geometry>
				<cylinder radius="0.0325" length="0.051"/>
			</geometry>	
		</visual>
	</link>
	
</robot>
